a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar .container {
  padding-left: 0px;
}

.navbar a img {
  margin-left: 0;
}

.navbar-brand-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-end {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Speech bubble for logo*/
.bubble {
  position: relative;
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  background: #ffd;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  border-radius: 10px;
  margin-left: 20px;
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px; 
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #ffd;
  border-left: 0;
  margin-top: -10px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .bubble {
    display: none;
  }
}

/*Search Suggestions*/
#searchSuggestions {
  position: absolute;
  top: 100%; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  background-color: white; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

#searchInput {
  width: 100%;
}
